

<section>
  <header>
    <h1 class="rouge">{{title}}</h1>
    <button id="bu">changer couleur</button>
<!-- [attr.abc] 自定义属性 attr. -->
    <input type="text" [placeholder]="placeholder" [attr.abc]="placeholder" autofocus>
  </header>
</section>
<hr>

<div class="todo">
  <h1 class="todo-header">What do I need to do today?</h1><br>
  <form class="form">
    <label for="task-input">Add a new task...</label><br>
    <input
      class="task-input"
      id="task-input"
      type="text"
      required
    />
    <input
      class="submit"
      type="submit"
      value="Add"
    />
  </form>
<div class="todo-list">
  <!-- dynamically rendered list items go here -->
</div>
</div>